
@{
    ViewBag.Title = "Seguimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Seguimiento</h1>

<div id="chartContainerPie" class="row">
    <div class="col-md-12">
        <canvas id="myChartSeguimiento"> </canvas>
    </div>
</div>
